{% extends 'base.html' %}

{% block title %}
    <title>Login Form</title>
{% endblock %}

{% block content %}

    <form method="post" action="{% url 'app1:login' %}">
        {{ error_message }}
        <h2>Login Form</h2>
        {% csrf_token %}
        <label for="user">Username:</label>
        <input type="text" id="user" name="username">
        <label for="pass">Password:</label>
        <input type="password" id="pass" name="password">
        <button type="submit">Submit</button>
    </form>
{% endblock %}